<h1>test de récupération des villes dont id_code_postal est 1 (requete effectuée dans le fichier route/requete.js)</h1>

<p>si les resultat sont correctement renvoyés alors la liste sera généré (via un forEach présent de base dans hbs)</p>



<p></p>
<select>

    {{#each result2}}
        <!--    la value sera défini par l'id et on affiche le libelle de la ville-->
        <option value="{{this.id}}">{{this.libelle}}</option>
    {{else}}
        <option value="rien">aucun resultat</option>
        <!--    on termine le forEach-->
    {{/each}}

</select>
